*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    padding-top: 80px;
    cursor: url(cursor.png), auto;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(pxfuel.jpg);
  background-size: cover;
  background-position: center;
}


.container{
    padding: 10px 10%;
}

.mobile-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .menu-toggle-button {
    background: #da8099;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    right: 30px;
    bottom: 30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: fixed;
    z-index: 3;
    transition: background-color 0.3s;
  }
  
  .menu-toggle-button:hover {
    background: #ffb6c1;
  }
  
  .mobile-menu-list {
    list-style: none;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 55px;
    right: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
  }
  
  .mobile-menu-list.active {
    max-height: 400px; /* Adjust the height as needed */
  }
  
  .mobile-menu-list li {
    margin: 10px 0;
  }
  
  

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #333;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f0a5b7;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.navbar-nav {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin: 10px 20px;
}

.nav-link {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}

.nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #f0a5b7;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.3s;
}

.nav-link:hover {
    color: #f0a5b7;
}

.nav-link:hover::after {
    width: 100%;
}


.nav-light {
    color: #333; 
    text-decoration: none;
}
  
.dark-mode nav {
    background-color: #333; /* Set your desired dark background color */
}

.dark-mode .nav-light {
    color: #fff; 
    text-decoration: none;
}
  
.dark-mode-container {
    display: flex;
    align-items: center;
}

#dark-mode-toggle-container {
    text-align: right;
    padding: 10px;
}

#dark-mode-toggle-container .switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
    right: 25px;
}

#dark-mode-toggle-container .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#dark-mode-toggle-container .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 17px;
    transition: 0.4s;
}

#dark-mode-toggle-container .switch .slider.round {
    border-radius: 34px;
}

#dark-mode-toggle-container .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.4s;
}

#dark-mode-toggle-container .switch input:checked + .slider {
    background-color: #444;
}

#dark-mode-toggle-container .switch input:checked + .slider:before {
    transform: translateX(26px);
}


.dark-mode {
    background-color: #333;
    color: #fff;
}



.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #da8099;
}
/* --------about------- */
#about{
     padding: 80px 0;    
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    max-width: 300px;
    border-radius: 50%;
    border: 5px solid #ffb6c1;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
   
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f0a5b7;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #da8099;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ---------skills------- */
.section {
    padding: 80px 0;
}

.graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.bar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.skill-name {
    font-weight: bold;
    width: 100px;
}

.bar-inner {
    width: 80%;
    height: 20px;
    background-color: #da8099;;
    border-radius: 5px;
}

.skill-1 {
    width: 80%;
    animation: fill-1 2s;
}

.skill-2 {
    width: 60%;
    animation: fill-2 2s;
}

.skill-3 {
    width: 45%;
    animation: fill-3 2s;
}

.skill-4 {
    width: 70%;
    animation: fill-4 2s;
}

.skill-5 {
    width: 90%;
    animation: fill-5 2s;
}

@keyframes fill-1 {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@keyframes fill-2 {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}

@keyframes fill-3 {
    0% {
        width: 0;
    }
    100% {
        width: 45%;
    }
}

@keyframes fill-4 {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

@keyframes fill-5 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}


@keyframes fill-3 {
    to {
        width: 45%;
    }
}

@keyframes fill-4 {
    to {
        width: 70%;
    }
}

@keyframes fill-5 {
    to {
        width: 90%;
    }
}

@keyframes reveal {
    to {
        transform: scaleX(1);
    }
}
  
/* <!-- -----------hobbies------- --> */

#hobbies{
    padding: 30px 0;
}
.hobbies-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.hobbies-list div{
    background-color: #faadc3;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.hobbies-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.hobbies-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.hobbies-list div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.hobbies-list div:hover{
    background: #da8099;
    transform: translateY(-10px);
}
/* --------contact------ */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color:#da8099;
    margin-right: 15px;
    font-size: 25px
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #da8099;
    display: inline-block;
    transition: transform 0.5s;
}
 
.social-icons a:hover{
    transform: translateY(-5px);
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffb6c1;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
    color: #fff;
}

.btn:hover{
    background:#ffb6c1;
}

.btn.btn2{
  display: inline-block;
  background: #da8099;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{ 
    width: 100%;
    border: 0;
    outline: none;
    background:#faadc3;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}



footer{
    background: #faadc3;
    padding: 1rem;
    text-align: center;
}

/* ------css for small screens------ */

@media only screen and (max-width: 600px){
    #header {
           background-image:  url(phone.jpeg);
        }
        .header-text{
           margin-top: 100%; font-size: 16px;
        }
        .header-text h1{
           font-size: 30px;
        }
        .navbar-nav {
            display: none;
        }
        
        .mobile-menu {
            display: block;
        }
        
        .menu-toggle-button {
            display: block;
        }
        .sub-title{
            font-size: 40px;
        }
        .about-col-1, .about-col-2{
            flex-basis: 100%;
        }
        .about-col-1{
            margin-bottom: 30px;
        }
        .about-col-2{
            font-size: 14px;
        }
        .tab-links{
            font-size: 16px;
            margin-right: 20px;
        }
        .contact-left, .contact-right{
           flex-basis: 100%;
        }
        footer{
            font-size: 14px;
        }
    
        
}
